* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --main-font-color:#ff4321;
}
.hireme{
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
}

.hireme .fa {
    font-size: 1.3rem;
    margin-right: .3rem;
}
.hirepopup {
    background: var(--primary-color);
    width: 50%;
    height: 30rem;
    padding: 1.8rem 2.5rem 1rem 2.5rem;
    position: absolute;
    top: 10%;
    transition: all .5s ease-in;
    color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 0 5rem var(--secondary-color);
    opacity: 0.9;
}

.open-hirepopup {
    opacity: 1;
    transform: none;
}

.hirepopup #closehirepopwin {
    text-align: center;
    color: #fff;
}

.hirepopup h1{
    color: var(--secondary-color);
    margin: 1rem 2.5rem;
    margin-bottom: .2rem;
    font-weight: 700;
    font-size: 2.5rem
}
.hirepopup h2{
    color: var(--secondary-color);
    margin: 2.5rem 2.5rem .8rem 2.5rem;
}
.hirepopup li{
    list-style: none;
    margin: auto auto 1rem 2.5rem ;
}

.hirepopup .social-links {
    margin: 0 0 0 2.5rem
}

.hirepopup .closepop {
    text-align: center;
    width: 5rem;
    height: 3rem;
    border: 0;
    border-radius: 2rem;
    background-color: var(--main-font-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 7rem;
    margin-left: 2.5rem;
}
